language: android

jdk:
  - oraclejdk8

android:
  components:
  - platform-tools
  - tools
  - build-tools-24.0.1
  - android-24
  - extra-google-google_play_services
  - extra-android-m2repository
  - extra-google-m2repository
  licenses:
  - android-sdk-license-.+
  - google-gdk-license-.+
before_script:
    - chmod +x gradlew

script:
  - ./gradlew build
